.DS_Store
*.swp
*.o
*.lo
.deps
Makefile.in
Makefile
*~
*.xcuserdatad
xcuserdata
*.a
*.la
/build
/DerivedData
/smcpctl
/smcpd
/autom4te.cache
/aclocal.m4
/config.h.in
/config.log
/config.status
/configure
/libtool
/src/config.h
/src/smcpctl/smcpctl
/src/smcpd/smcpd
/m4
src/stamp-h1
src/config.h.in
src/smcpd/smcpd.conf