/doc/html
/doc/latex
/docs/html
/docs/latex
.DS_Store
*.swp
*.o
*.lo
.deps
*.orig
Makefile.in
Makefile
*~
*.xcuserdatad
xcuserdata
*.a
*.la
/build
/DerivedData
/smcpctl
/smcpd
/autom4te.cache
/aclocal.m4
/config.h.in
/config.log
/config.status
/configure
/libtool
/src/config.h
/src/smcpctl/smcpctl
/src/smcpd/smcpd
/m4
src/stamp-h1
src/config.h.in
src/smcpd/smcpd.conf
src/plugtest/smcp-plugtest-client
src/plugtest/smcp-plugtest-server
doxygen.cfg
*.gz
src/examples/example-1
src/examples/example-2
src/examples/example-3
src/examples/example-4
src/smcp/btreetest
/SMCP.xcodeproj/project.xcworkspace/xcshareddata
src/plugtest/.libs/smcp-plugtest-client
src/plugtest/.libs/smcp-plugtest-server
*.log
*.trs
*.dylib
*.lai
.libs
